.contact_content {
    display: flex;
    flex-flow: column;

    width: 80%;

    margin: auto;
    margin-top: 25px;
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 87%;
}

.email p {
    font-size: 1em;

    color: white;
}

.email i {
    font-size: 2.2em;

    color: #880d0d;
}

.social-media {
    display: flex;
    justify-content: space-between;

    width: 40%;

    margin-bottom: 15px;
}

.social-media-icon {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.226);
}

.btn-cv {
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 15px;

    font-size: 1.1em;
    text-decoration: none;

    color: white;
    border: 1px solid #880d0d;
    border-radius: 10px;

    transition: 0.3s;
}

.btn-cv:hover {
    background-color: #880d0d;
}