header {
    background-color: rgb(17, 17, 17);
    box-shadow: 1px 1px 10px black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 10px;
    margin: auto;
    padding-top: 15px;
}

.logo h1 {
    letter-spacing: 0.03em;
    color: #880d0d;
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 10px;
    list-style: none; 
}

.item {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.589);
}

.item:hover {
    font-size: 1.12em;
    color: rgba(255, 255, 255, 0.700);
}

.img-lang-container {
    display: flex;
    justify-content: center;
    
    width: 100%;

    margin: auto;
    margin-top: 30px;

    position: relative;
}

.img_edge {
    width: 190px;
    height: 190px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #8f2626, #410606 70%);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.473);
    position: relative;
}

.img_edge img {
    border-radius: 30px;
}

.lang-menu {
    display: flex;
    flex-flow: column;

    position: absolute;
    right: 10px;
}

.selected-lang {
    align-self: end;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.selected-lang i {
    margin-left: 10px;
    transition: transform 0.7s;
}

.selected-lang i.rotate {
    transform: rotate(180deg);
}

/* Languages Menu */
.lang-menu ul {
    visibility: hidden;
    flex-flow: column;
    align-items: start;

    margin-top: 7px;
    padding: 10px 10px;

    list-style: none;

    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(12, 12, 12);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.589);

    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s; 
    height: 0; 
    overflow: hidden;
}

/* Make the language menu visible */
.lang-menu ul.show {
    visibility: visible;
    display: flex;
    opacity: 1; 
    transform: translateY(0); 
    height: auto;
}

/* Language container (flag n title) */
.lang-menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.lang-menu ul li:last-child {
    margin-bottom: 0;
}

.lang-menu ul li a:hover {
    color: rgba(255, 255, 255, 0.700);
    text-decoration: underline;
}

.lang-menu ul li a.selected {
    color: white;
    text-decoration: underline;
}