header {
    background-color: var(--grey_bg);
    box-shadow: 1px 1px 10px black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 10px;
    margin: auto;
    padding-top: 15px;
}

.logo h1 {
    letter-spacing: 0.03em;
    color: var(--red);
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 10px;
    list-style: none; 
}

header ul .item {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(192, 192, 192);
}

.item:active {
    font-size: 1.12em;
    color: rgb(255, 255, 255);
}

.progress-bar {
    display: none;
}