main {
    margin: 30px 0;
}

/* Image Style */
.imageLanguage-container {
    display: flex;
    justify-content: center;
    
    width: 100%;

    margin: auto;
    margin-top: 30px;

    position: relative;
}

.image_edge {
    width: 190px;
    height: 190px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, var(--red), var(--dark_red) 70%);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.473);
    position: relative;
}

.image_edge img {
    width: 150px;
    height: 180px;
    border-radius: 30px;
}

/* Language Button & Menu */
.language-menu {
    display: flex;
    flex-flow: column;

    position: absolute;
    right: 10px;
}

.selected-language {
    align-self: end;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: white;
}

.selected-language i {
    margin-left: 10px;
    transition: transform 0.7s;
}

.selected-language i.rotate {
    transform: rotate(180deg);
}

.language-menu ul { 
    /* Languages Menu */

    visibility: hidden;
    flex-flow: column;
    align-items: start;

    margin-top: 7px;
    padding: 10px 10px;

    list-style: none;

    background-color: var(--grey_bg);
    border: 1px solid rgb(12, 12, 12);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.589);

    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s; 
    height: 0; 
    overflow: hidden;
}

.language-menu ul.show {
    /* Make the language menu visible */

    visibility: visible;
    display: flex;
    opacity: 1; 
    transform: translateY(0); 
    height: auto;
}

.language-menu ul li {
    /* Language container (flag n title) */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.language-menu ul li:last-child {
    margin-bottom: 0;
}

.language-menu ul li a:active {
    color: white;
}

.language-menu ul li a.selected {
    color: white;
    text-decoration: underline;
}


/* SECTIONS PATTERN ELEMENTS */
.baseSection_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.baseSection_head h1 {
    margin-left: 25px;
    font-weight: 400;
    font-size: 1.7em;
    color: white;
}

.baseSection_head i {
    margin-right: 25px;
    font-size: 2.2em;
    color: var(--red);
}

.baseSection_hr {
    margin: 0px 15px 20px 15px;
    border: 1px solid rgba(255, 255, 255, 0.048);
}

.tech_border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    background: linear-gradient(135deg, var(--red), var(--dark_red) 70%);
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.450);
}


/* ABOUT SECTION */
.about-section > p {
    width: 85%;
    margin: auto;
    font-size: 1.05em;
    color: white;
}

.about-section > p > span {
    font-weight: bolder;
    color: var(--red);
}

.about-section > .skills-head {
    max-width: fit-content;
    margin: auto;
    margin-block: 20px;
    text-transform: uppercase;
    text-align: center;
    color: var(--red);
}

.about-section > .skills-head > .skills_hr {
    width: 100%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.048);
}

.about-section > .techs-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.techs-container > .tech_border {
    width: 70px;
    height: 70px;
}

.techs-container > .tech_border > .tech_logo {
    width: 50px;
    height: 50px;
}


/* PROJECTS SECTION */
.projects-section > .baseSection_head {
    margin-top: 20px;
}

.stockTracker-container {
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 85%;

    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 30px 20px;

    background-color: rgba(12, 12, 12, 0.466);
    border-radius: 20px;
    border: 2px solid var(--red);
    box-shadow: 0 0 5px var(--red);
}

.stockTracker-container > .stocksTracker-image {
    height: 145px;
}

.stockTracker-container > .project_name {
    padding: 15px 0;
    color: white;
}

.stockTracker-container > p {
    text-align: center;
    color: white;
}

.stockTracker-container > p > a {
    color: var(--red);
}

.stockTracker-container > .project_techs {
    display: flex;
    justify-content: space-between;

    width: 80%;

    margin-top: 25px;
}

.project_tech_border {
    width: 60px;
    height: 60px;
}

.project_tech_logo {
    width: 40px;
    height: 40px;
}

.seeOnGit-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    
    margin-top: 15px;
    padding: 0 15px;

    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;

    background-color: var(--red);
    color: rgb(17, 17, 17);

    border-radius: 25px;
    box-shadow: 0 0 5px var(--red);

    transition: 0.3s;
}

.seeOnGit-btn:active {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--red);
}


/* CONTACT SECTION */
.contact_content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: auto;
}

.email-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;

    margin: auto;
}

.email-container > p {
    font-size: 1em;

    color: white;
}

.email-container > i {
    font-size: 2.2em;

    color: var(--red);
}

.socialMedia-container {
    display: flex;
    justify-content: space-between;

    width: 60%;

    margin: auto;
    margin-bottom: 15px;
}

.socialMedia-icon {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.226);
}

.socialMedia-icon:active {
    color: rgba(255, 255, 255, 0.342);
    transform: scale(1.05);
}

.btn-cv {
    margin: auto;
    padding: 10px 15px;

    font-size: 1.1em;
    text-decoration: none;

    color: white;
    border: 1px solid var(--red);
    border-radius: 10px;

    transition: 0.3s;
}

.btn-cv:active {
    background-color: var(--red);
}