.stock-tracker-div {
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 85%;

    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 30px 20px;

    background-color: rgba(12, 12, 12, 0.466);
    border-radius: 20px;
    border: 2px solid #880d0d;
    box-shadow: 0 0 5px #880d0d;
}

.stocks-tracker-img {
    height: 130px;
}

.project_name {
    padding: 15px 0;
    color: white;
}

.stock-tracker-div p {
    text-align: center;
    color: white;
}

.stock-tracker-div p a {
    color: #880d0d;
}

.project_techs {
    display: flex;
    justify-content: space-between;

    width: 80%;

    margin-top: 25px;
}

.project_tech_border {
    width: 60px;
    height: 60px;
}

.project_tech_logo {
    width: 40px;
    height: 40px;
}