@charset "UTF-8";

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
    font-family: "Poppins", sans-serif;
}

header #logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    margin: 20px 20px 7px 20px;
}

header #logo h1 {
    color: #A51010;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    width: 310px;
    margin: auto;
    list-style: none;
}

header nav ul a {
    font-size: 1.2em;

    text-decoration: none;
    color: rgb(90, 90, 90);

    position: relative;
}

header nav ul a::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background-color: #a51010a8;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
}

header nav ul a:hover::after {
    width: 100%;
}

header nav ul a:hover {
    color: rgb(126, 126, 126);
}