* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(22, 22, 22);
    font-family: "Poppins", sans-serif;
}

.base_section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
}

.base_section_title h1 {
    margin-left: 25px;
    font-weight: 400;
    font-size: 1.7em;
    color: white;
}

.base_section_title i {
    margin-right: 25px;
    font-size: 2.2em;
    color: #880d0d;
}

.base_section_hr {
    margin: 0px 15px 20px 15px;
    border: 1px solid rgba(255, 255, 255, 0.048);
}

.base-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    
    margin-top: 15px;
    padding: 0 15px;

    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;

    background-color: #880d0d;
    color: rgb(17, 17, 17);

    border-radius: 25px;
    box-shadow: 0 0 5px #880d0d;

    transition: 0.3s;
}

.base-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #880d0d;
}